<tr>
<td>
<h4><%= category.id %></h4>
<br>
</td>
  <td>
    <h4><%= category.name %></h4>
    <br>
  </td>
  <td>
  <h4><%= category.created_at %></h4>
  <br>
</td>
<td>
<h4><%= category.updated_at %></h4>
<br>
</td>
</tr>
